body{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

.article__container{
    background-color: white;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 12px;
}

.drawers-img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 343px;
    object-fit: fill;
}

.info-section{
    margin: 1.5rem;
}

.main-title{
    padding-top: 20px;
    color: hsl(217, 19%, 35%);
    font-size: 1rem;
    font-weight: 900;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 20px;
}

.paragraph{
    margin-top: 1rem;
    font-size: .813rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 2rem;
}

.test{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 30px;
}

.share{
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 12px 0 20px 0;
  position: relative;
}

.author-div{
     display: flex;
     flex: 1;
     gap: 12px;
     align-items: center;
}

.avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-bottom: 1rem;
    margin-right: 2rem; */
}

/* .author-details-div{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
} */

.michelle-par{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    /* margin-bottom: 0.5rem; */
    font-size: .875rem;
}

.small{
    font-size: .8rem;
    color: hsl(212, 23%, 69%);
}

/* .share-btn{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 100px;
    background-color: hsl(210, 46%, 95%);
    margin-left: 1rem;
} */

/* .icon-img{
    grid-column: 3 / 3;
} */

.share-img{
    width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f1f1f1;
}

.img-share{
  pointer-events: none;
  display: block;
}

.share-bar-desktop, .share-bar-mobile{
background-color: #48556a;
  text-transform: uppercase;
  color: #9daec2;
  gap: 16px;
  font-size: 13px;
  align-items: center;
  flex: 1;
}

.share-bar-mobile {
    padding: 10px 0;
    display: none;
    width: 100%;
}
  
.share-bar-desktop {
    display: flex;
    position: absolute;
    top: -45px;
    padding: 18px 32px;
    border-radius: 12px;
    transition: 0.3s ease all;
    opacity: 0;
}
  
/* active share (mobile) */
.active-share-mobile {
    background-color: #48556a;
    border-radius: 0 0 12px 12px;
}
  
.active-share-mobile .author {
    display: none;
}
  
.active-share-mobile .share-bar-mobile {
    display: flex;
}

/* active share (Desktop) */
.active-share-desktop .share-bar-desktop {
    opacity: 1;
  }
/* Active
.active-div{
    background-color: hsl(217, 19%, 35%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 28% 14% 14% 14% 28%;
}

.par-share{
    font-size: .8rem;
    margin-top: .5rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color:  hsl(212, 23%, 69%);
    letter-spacing: 3px;
}

.icon{
    margin: .5rem ;
}

.share-btn2{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 3.5rem;
    background-color:  hsl(212, 23%, 69%);
}

.icon-img2{
    color: hsl(210, 46%, 95%);
}

.hidden{
    display: none;
} */
/* FOOTER */
.footer{
    bottom: 0;
}
.link{
    color: rgba(169, 169, 169, 1);
    font-weight: bolder;
    text-decoration: none;
}

/* ==================== MEDIA QUERIES ======================*/
@media all and (min-width: 1024px) {
    .article__container{
        margin: 9rem auto 2rem auto;
        width: 750px;
        height: 300px;
        display: flex;
        box-shadow: 0 20px 10px rgb(0 0 0 / 5%);;
    }
    
    .drawers-img{
        border-radius: 12px 0 0 12px;
        object-fit: cover;
        height: 100%;
    }
    
    .main-title{
        font-size: 1.2rem;
        padding-top: 10px;
        margin-top: 10px;
        line-height: 23px;
        font-weight: 900;
    }
    
    .paragraph{
        word-spacing: 0;
        letter-spacing: 0;
        margin-top: 1rem;
        font-size: .8rem;
        margin-bottom: 1.8rem;
        margin-bottom: 3rem;
    }

    .share{
        margin-top: 10px;
        padding: 0;
    }
/* Active*/

/* .active-div{
    height: 30px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 12px;
    padding: 1rem;
    width: 200px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 240px;
    bottom: 290px;
}

.par-share{
    font-size: .8rem;
    margin-top: .5rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color:  hsl(212, 23%, 69%);
    letter-spacing: 3px;
}

.icon{
    margin: .5rem ;
} */


/* FOOTER */
.footer{
    display: flex;
    justify-content: center;

}
}